@{
    ViewBag.Title = "LoginHistory";
}

<h2>Login history</h2>
<div id="loginHistory">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th colspan="2" class="text-center">Login history</th>
            </tr>
            <tr>
                <th>User</th>
                <th>Login date</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                List<Products.Models.LOGIN_LOG> logs = Model;
                foreach (var log in logs)
                {
                    <tr>
                        <td>@log.USUARIO.NOMBRE_USUARIO</td>
                        <td>@log.FECHA_LOGIN</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

